@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$ios13-dark-mode-blue:   rgb(10, 132, 255);
$ios13-dark-mode-green:  rgb(48, 209, 88);
$ios13-dark-mode-indigo: rgb(94, 92, 230);
$ios13-dark-mode-orange: rgb(255, 159, 10);
$ios13-dark-mode-pink:   rgb(255, 55, 95);
$ios13-dark-mode-purple: rgb(191, 90, 242);
$ios13-dark-mode-red:    rgb(255, 69, 58);
$ios13-dark-mode-teal:   rgb(100, 210, 255);
$ios13-dark-mode-yellow: rgb(255, 214, 10);

$ios13-dark-mode-grey:   rgb(142, 142, 147);
$ios13-dark-mode-grey2:  rgb(99, 99, 102);
$ios13-dark-mode-grey3:  rgb(72, 72, 74);
$ios13-dark-mode-grey4:  rgb(58, 58, 60);
$ios13-dark-mode-grey5:  rgb(44, 44, 46);
$ios13-dark-mode-grey6:  rgb(28, 28, 30);

$text-color:       white !default;
$background-color: black !default;
$brand-color:      $ios13-dark-mode-blue !default;

$grey-color:       $ios13-dark-mode-grey !default;
$grey-color2:      $ios13-dark-mode-grey2 !default;
$grey-color3:      $ios13-dark-mode-grey3 !default;
$grey-color4:      $ios13-dark-mode-grey4 !default;
$grey-color5:      $ios13-dark-mode-grey5 !default;
$grey-color6:      $ios13-dark-mode-grey6 !default;

$orange-color:     $ios13-dark-mode-orange !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
